:host {
  width: 100%;
  max-width: var(--max-width);
  height: 100%;
  padding: 0rem 1rem;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  column-gap: 1rem;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.more-options {
  cursor: pointer;
  background: none;
  border: none;
}
