<div class="top-row">
  <h2>Words</h2>
  <app-more-options
    [showUkrainian]="showUkrainian"
    [showTranslations]="showTranslations"
    (toggleUkrainian)="toggleUkrainian()"
    (toggleTranslations)="toggleTranslations()"
    (toggleEditMode)="toggleEditMode()"
  ></app-more-options>
</div>

<ul>
  @for (word of words(); track word.id) {
  <li>
    <app-word-card
      [word]="word"
      [showUkrainian]="showUkrainian"
      [showTranslations]="showTranslations"
      [inEditMode]="inEditMode"
    ></app-word-card>
  </li>
  }
</ul>
