<h2>Update word</h2>

<form [formGroup]="form">
  <input formControlName="ukrainian" type="text" placeholder="Ukrainian" />
  <input formControlName="translation" type="text" placeholder="Translation" />
  <textarea formControlName="story" placeholder="Story..."></textarea>
  <button mat-raised-button [disabled]="form.invalid" (click)="update()">Update</button>
</form>
