<header>
  <div class="container">
    <a routerLink="/"><h1>українська</h1></a>
    @if (isSignedIn()) {
    <nav>
      <li>
        <a routerLink="list-words">Words</a>
      </li>
      <li>
        <a routerLink="add-word">Add</a>
      </li>
      <li>
        <a routerLink="flashcards">Flashcards</a>
      </li>
      <li>
        <a routerLink="dialogs">Dialogs</a>
      </li>
    </nav>
    }
    <div>
      @if (isSignedIn()) {
      <button (click)="logOut()">Log out</button>
      } @else {
      <a routerLink="sign-in">Sign in</a>
      }
    </div>
  </div>
  <!-- <app-hamburger-menu></app-hamburger-menu> -->
</header>
