:host {
  grid-area: header;
}

header {
  position: fixed;
  display: grid;
  place-items: center;
  height: var(--header-height);
  width: 100%;
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
  z-index: 100;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: var(--max-width);
  padding: 0 1rem;
  margin: 0;
}

h1 {
  margin: 0;
}

nav {
  display: flex;
  column-gap: 1rem;
}

button {
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
