<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Open more options">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  @if (showUkrainian) {
  <button mat-menu-item (click)="onToggleUkrainian()">Show English</button>
  } @else {
  <button mat-menu-item (click)="onToggleUkrainian()">Show Ukrainian</button>
  } @if (showUkrainian && !showTranslations) {
  <button mat-menu-item (click)="onToggleTranslations()">Show translations</button>
  } @else if (showUkrainian && showTranslations) {
  <button mat-menu-item (click)="onToggleTranslations()">Hide translations</button>
  }
  <button (click)="onToggleEditMode()" mat-menu-item>Toggle edit</button>
</mat-menu>
