<h1 mat-dialog-title>{{ data.word.ukrainian }}</h1>
<div mat-dialog-content>
  <h2>{{ data.word.translation }}</h2>
  <p>{{ data.word.story }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
