<div class="word-card" (click)="openDialog()">
  @if (showUkrainian) {
  <p>{{ word.ukrainian }}</p>
  } @if (!showUkrainian || showTranslations) {
  <p>{{ word.translation }}</p>
  } @if (inEditMode) {
  <button mat-raised-button (click)="delete()">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-raised-button [routerLink]="['/update-word', word.id]" (click)="$event.stopPropagation()">
    <mat-icon>update</mat-icon>
  </button>
  }
</div>
