@import 'material-icons/iconfont/material-icons.css';

:root {
  --max-width: 1080px;
  --primary-bg-color: #000;
  --secondary-bg-color: #fff;
  --primary-font-color: #fff;
  --secondary-font-color: #000;
  --font-family: Roboto, 'Helvetica Neue', sans-serif;
  --header-height: 4em;
}

*,
::after,
::before {
  box-sizing: border-box;
  font-family: var(--font-family);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}
